.mainWrapper {
  background: #42b3f42c;
  margin-bottom: 16px;
}

.tabs {
  width: 70%;
  text-align: center;
  margin-top: 15vh;
}

.tabButtonsWrapper {
  display: flex;
}

.btn {
  cursor: pointer;
  padding: 16px;
}
.active {
  border-bottom: 2px solid #42b3f4;

  color: black;
}

.tabContent {
  padding: 16px;
}
